.Animatable,
.Bell {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@-webkit-keyframes bell {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }

  12% {
    -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg);
  }

  24% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
  }

  36% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }

  48% {
    -webkit-transform: rotateZ(7.5deg);
            transform: rotateZ(7.5deg);
  }

  58% {
    -webkit-transform: rotateZ(-6deg);
            transform: rotateZ(-6deg);
  }

  68% {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }

  76% {
    -webkit-transform: rotateZ(-4.285714285714286deg);
            transform: rotateZ(-4.285714285714286deg);
  }

  84% {
    -webkit-transform: rotateZ(3.75deg);
            transform: rotateZ(3.75deg);
  }

  92% {
    -webkit-transform: rotateZ(-3.3333333333333335deg);
            transform: rotateZ(-3.3333333333333335deg);
  }

  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@keyframes bell {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }

  12% {
    -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg);
  }

  24% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
  }

  36% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }

  48% {
    -webkit-transform: rotateZ(7.5deg);
            transform: rotateZ(7.5deg);
  }

  58% {
    -webkit-transform: rotateZ(-6deg);
            transform: rotateZ(-6deg);
  }

  68% {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }

  76% {
    -webkit-transform: rotateZ(-4.285714285714286deg);
            transform: rotateZ(-4.285714285714286deg);
  }

  84% {
    -webkit-transform: rotateZ(3.75deg);
            transform: rotateZ(3.75deg);
  }

  92% {
    -webkit-transform: rotateZ(-3.3333333333333335deg);
            transform: rotateZ(-3.3333333333333335deg);
  }

  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

.Bell {
  -webkit-transform-origin: 50% 5%;
      -ms-transform-origin: 50% 5%;
          transform-origin: 50% 5%;
  -webkit-animation: bell 1000ms;
          animation: bell 1000ms;
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
          animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}