.Bell {
  transform-origin: 50% 5%;
  animation: bell 3.5s;
}

.Bell--ease-out {
  /** TODO */
}

.Bell--ease-in {
  extend: .Bell;
  animation-timing-function: ease-in-back;
}

.Bell-container:hover > .Bell--ease-out {
  extend: .Bell;
  animation-timing-function: ease-out-cubic;
}
