:root {
  --bell-angle: 30;
}

/** TODO: generate this in a fn instead. */
@keyframes bell {
  0% {
    transform: rotateZ(0);
  }
  12% {
    transform: rotateZ(calc(var(--bell-angle) / -1deg));
  }
  24% {
    transform: rotateZ(calc(var(--bell-angle) / 1deg));
  }
  36% {
    transform: rotateZ(calc(var(--bell-angle) / -3deg));
  }
  48% {
    transform: rotateZ(calc(var(--bell-angle) / 4deg));
  }
  58% {
    transform: rotateZ(calc(var(--bell-angle) / -5deg));
  }
  68% {
    transform: rotateZ(calc(var(--bell-angle) / 6deg));
  }
  76% {
    transform: rotateZ(calc(var(--bell-angle) / -7deg));
  }
  84% {
    transform: rotateZ(calc(var(--bell-angle) / 8deg));
  }
  92% {
    transform: rotateZ(calc(var(--bell-angle) / -9deg));
  }
  100% {
    transform: rotateZ(0);
  }
}
